<div class="signup-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" dir="rtl" lang="ar">
    <h2>إنشاء حساب</h2>

    <label>الاسم</label>
    <input formControlName="firstname" type="text" />

    <label>اللقب</label>
    <input formControlName="lastname" type="text" />

    <label>تاريخ الولادة</label>
    <input formControlName="birthDate" type="date" />

    <label>المستوى</label>
    <select formControlName="level">
      <option value="FIRST">Beginner</option>
      <option value="SECOND">Intermediate</option>
      <option value="THIRD">Advanced</option>
    </select>

    <button type="submit" [disabled]="submitting || form.invalid">سجل</button>
  </form>
</div>
