/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'FredFredburgerARAHeadBlack';
  src: url('/assets/fonts/19188-fred-fredburger-arabic.ttf') format('truetype');
  font-weight: 400 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --app-font: 'FredFredburgerARAHeadBlack';
}

html, body, app-root {
  height: 100%;
  font-family: var(--app-font), sans-serif;
}

/* Forcer la police partout afin d'uniformiser l'apparence (remplacer si besoin) */
* {
  font-family: var(--app-font), sans-serif !important;
}
